sigef2027/FirmaRemotaManager/Connected Services/svcCalamaioRemoteSign/SignServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calamaio.gpi.it/services" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SignServices" targetNamespace="http://calamaio.gpi.it/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://calamaio.gpi.it/services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="hsmMultiSignature" type="tns:hsmMultiSignature" />
      <xs:element name="hsmMultiSignatureResponse" type="tns:hsmMultiSignatureResponse" />
      <xs:element name="hsmSignature" type="tns:hsmSignature" />
      <xs:element name="hsmSignatureResponse" type="tns:hsmSignatureResponse" />
      <xs:complexType name="hsmMultiSignature">
        <xs:sequence>
          <xs:element name="configurationId" type="xs:string" />
          <xs:element name="user" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="otp" type="xs:string" />
          <xs:element minOccurs="0" name="domain" type="xs:string" />
          <xs:element name="documents" type="tns:signDocuments" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="signDocuments">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="document" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="hsmMultiSignatureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:multiSignResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="multiSignResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="errorDescription" type="xs:string" />
          <xs:element minOccurs="0" name="signedDocuments" type="tns:signDocuments" />
          <xs:element name="success" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="hsmSignature">
        <xs:sequence>
          <xs:element minOccurs="0" name="configurationId" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="otp" type="xs:string" />
          <xs:element minOccurs="0" name="domain" type="xs:string" />
          <xs:element minOccurs="0" name="document" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="hsmSignatureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:signResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="signResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="errorDescription" type="xs:string" />
          <xs:element minOccurs="0" name="signedDocument" type="xs:base64Binary" />
          <xs:element name="success" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="hsmMultiSignature">
    <wsdl:part name="parameters" element="tns:hsmMultiSignature" />
  </wsdl:message>
  <wsdl:message name="hsmMultiSignatureResponse">
    <wsdl:part name="parameters" element="tns:hsmMultiSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="hsmSignature">
    <wsdl:part name="parameters" element="tns:hsmSignature" />
  </wsdl:message>
  <wsdl:message name="hsmSignatureResponse">
    <wsdl:part name="parameters" element="tns:hsmSignatureResponse" />
  </wsdl:message>
  <wsdl:portType name="SignServicesPortType">
    <wsdl:operation name="hsmMultiSignature">
      <wsdl:input name="hsmMultiSignature" message="tns:hsmMultiSignature" />
      <wsdl:output name="hsmMultiSignatureResponse" message="tns:hsmMultiSignatureResponse" />
    </wsdl:operation>
    <wsdl:operation name="hsmSignature">
      <wsdl:input name="hsmSignature" message="tns:hsmSignature" />
      <wsdl:output name="hsmSignatureResponse" message="tns:hsmSignatureResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SignServicesSoapBinding" type="tns:SignServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="hsmMultiSignature">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="hsmMultiSignature">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hsmMultiSignatureResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hsmSignature">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="hsmSignature">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hsmSignatureResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SignServices">
    <wsdl:port name="SignServicesPort" binding="tns:SignServicesSoapBinding">
      <soap:address location="http://calamaio.regionemarche.intra:8080/EjbCalamaio/SignServices/SignServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>