sigef2027/CupManager/Service References/svcCUP/Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:types="http://serviziCUP.mef.it/types/" targetNamespace="http://serviziCUP.mef.it/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="richiesta_RichiestaRispostaSincrona_RichiestaDettaglioCUP" type="types:richiesta_RichiestaRispostaSincrona_RichiestaDettaglioCUP_Type" />
  <xsd:element name="risposta_RichiestaRispostaSincrona_RisultatoDettaglioCUP" type="types:risposta_RichiestaRispostaSincrona_RisultatoDettaglioCUP_Type" />
  <xsd:element name="richiesta_RichiestaRispostaSincrona_RichiestaListaCUP" type="types:richiesta_RichiestaRispostaSincrona_RichiestaListaCUP_Type" />
  <xsd:element name="risposta_RichiestaRispostaSincrona_ListaCUP" type="types:risposta_RichiestaRispostaSincrona_ListaCUP_Type" />
  <xsd:element name="richiesta_RichiestaRispostaSincrona_RichiestaGenerazioneCUP" type="types:richiesta_RichiestaRispostaSincrona_RichiestaGenerazioneCUP_Type" />
  <xsd:element name="risposta_RichiestaRispostaSincrona_EsitoGenerazioneCUP" type="types:risposta_RichiestaRispostaSincrona_EsitoGenerazioneCUP_Type" />
  <xsd:complexType name="richiesta_RichiestaRispostaSincrona_RichiestaDettaglioCUP_Type">
    <xsd:sequence>
      <xsd:element name="TitoloRichiesta" type="xsd:string" />
      <xsd:element name="richiesta" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="risposta_RichiestaRispostaSincrona_RisultatoDettaglioCUP_Type">
    <xsd:sequence>
      <xsd:element name="TitoloRisposta" type="xsd:string" />
      <xsd:element name="EsitoElaborazione" type="types:esitoElaborazioneCUP_Type" />
      <xsd:element name="risposta" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="richiesta_RichiestaRispostaSincrona_RichiestaListaCUP_Type">
    <xsd:sequence>
      <xsd:element name="TitoloRichiesta" type="xsd:string" />
      <xsd:element name="richiesta" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="risposta_RichiestaRispostaSincrona_ListaCUP_Type">
    <xsd:sequence>
      <xsd:element name="TitoloRisposta" type="xsd:string" />
      <xsd:element name="EsitoElaborazione" type="types:esitoElaborazioneCUP_Type" />
      <xsd:element name="risposta" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="richiesta_RichiestaRispostaSincrona_RichiestaGenerazioneCUP_Type">
    <xsd:sequence>
      <xsd:element name="TitoloRichiesta" type="xsd:string" />
      <xsd:element name="richiesta" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="risposta_RichiestaRispostaSincrona_EsitoGenerazioneCUP_Type">
    <xsd:sequence>
      <xsd:element name="TitoloRisposta" type="xsd:string" />
      <xsd:element name="EsitoElaborazione" type="types:esitoElaborazioneCUP_Type" />
      <xsd:element name="risposta" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="esitoElaborazioneCUP_Type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ELABORAZIONE_ESEGUITA" />
      <xsd:enumeration value="ERRORE_NELLA_ELABORAZIONE_DEL_MESSAGGIO" />
      <xsd:enumeration value="RICHIESTA_NON_PRESENTE" />
      <xsd:enumeration value="ERRORE_APPLICATIVO" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>