sigef/CupManager/Schema/CUP_2020.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="RICHIESTA_GENERAZIONE_CUP">
		<xs:sequence>
			<xs:element ref="ID_RICHIESTA"/>
			<xs:element ref="USER"/>
			<xs:element ref="PASSWORD"/>
			<xs:element ref="CUP_GENERAZIONE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RICHIESTA_GENERAZIONE_CUP" type="RICHIESTA_GENERAZIONE_CUP"/>
	<xs:complexType name="ID_RICHIESTA" mixed="true"/>
	<xs:element name="ID_RICHIESTA" type="ID_RICHIESTA"/>
	<xs:complexType name="USER" mixed="true"/>
	<xs:element name="USER" type="USER"/>
	<xs:complexType name="PASSWORD" mixed="true"/>
	<xs:element name="PASSWORD" type="PASSWORD"/>
	<xs:complexType name="CUP_GENERAZIONE">
		<xs:sequence>
			<xs:element ref="DATI_GENERALI_PROGETTO"/>
			<xs:element ref="MASTER" minOccurs="0"/>
			<xs:element ref="LOCALIZZAZIONE" maxOccurs="unbounded"/>
			<xs:element ref="DESCRIZIONE"/>
			<xs:element ref="ATTIV_ECONOMICA_BENEFICIARIO" minOccurs="0"/>
			<xs:element ref="FINANZIAMENTO"/>
		</xs:sequence>
		<xs:attribute name="soggetto_titolare" type="xs:anySimpleType"/>
		<xs:attribute name="uo_soggetto_titolare" type="xs:anySimpleType"/>
		<xs:attribute name="user_titolare" type="xs:anySimpleType"/>
		<xs:attribute name="id_progetto" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CUP_GENERAZIONE" type="CUP_GENERAZIONE"/>
	<xs:complexType name="ACQUISTO_BENI">
		<xs:attribute name="nome_str_infrastr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="tipo_ind_area_rifer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="01"/>
					<xs:enumeration value="02"/>
					<xs:enumeration value="03"/>
					<xs:enumeration value="04"/>
					<xs:enumeration value="05"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ind_area_rifer" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="bene" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="desc_strum_progr" type="xs:anySimpleType"/>
		<xs:attribute name="altre_informazioni" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ACQUISTO_BENI" type="ACQUISTO_BENI"/>
	<xs:complexType name="ATTIV_ECONOMICA_BENEFICIARIO">
		<xs:attribute name="sezione" type="xs:anySimpleType"/>
		<xs:attribute name="sottosezione" type="xs:anySimpleType"/>
		<xs:attribute name="divisione" type="xs:anySimpleType"/>
		<xs:attribute name="gruppo" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ATTIV_ECONOMICA_BENEFICIARIO" type="ATTIV_ECONOMICA_BENEFICIARIO"/>
	<xs:complexType name="CODICE_TIPOLOGIA_COP_FINANZ" mixed="true"/>
	<xs:element name="CODICE_TIPOLOGIA_COP_FINANZ" type="CODICE_TIPOLOGIA_COP_FINANZ"/>
	<xs:complexType name="CONCESSIONE_CONTRIBUTI_NO_UNITA_PRODUTTIVE">
		<xs:attribute name="beneficiario" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="partita_iva" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="struttura" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="tipo_ind_area_rifer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="01"/>
					<xs:enumeration value="02"/>
					<xs:enumeration value="03"/>
					<xs:enumeration value="04"/>
					<xs:enumeration value="05"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ind_area_rifer" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="desc_intervento" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="desc_strum_progr" type="xs:anySimpleType"/>
		<xs:attribute name="altre_informazioni" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CONCESSIONE_CONTRIBUTI_NO_UNITA_PRODUTTIVE" type="CONCESSIONE_CONTRIBUTI_NO_UNITA_PRODUTTIVE"/>
	<xs:complexType name="CONCESSIONE_INCENTIVI_UNITA_PRODUTTIVE">
		<xs:attribute name="denominazione_impresa_stabilimento" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="partita_iva" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="denominazione_impresa_stabilimento_prec" type="xs:anySimpleType"/>
		<xs:attribute name="tipo_ind_area_rifer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="01"/>
					<xs:enumeration value="02"/>
					<xs:enumeration value="03"/>
					<xs:enumeration value="04"/>
					<xs:enumeration value="05"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ind_area_rifer" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="descrizione_intervento" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="desc_strum_progr" type="xs:anySimpleType"/>
		<xs:attribute name="altre_informazioni" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CONCESSIONE_INCENTIVI_UNITA_PRODUTTIVE" type="CONCESSIONE_INCENTIVI_UNITA_PRODUTTIVE"/>
	<xs:complexType name="CUP_CUMULATIVO">
		<xs:attribute name="atto_amministr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="scopo_intervento" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="altre_informazioni" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="CUP_CUMULATIVO" type="CUP_CUMULATIVO"/>
	<xs:complexType name="DATI_GENERALI_PROGETTO">
		<xs:attribute name="anno_decisione" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="cumulativo" default="N">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="S"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="codifica_locale" type="xs:anySimpleType"/>
		<xs:attribute name="natura" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="tipologia" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="settore" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="sottosettore" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="categoria" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="cpv1" type="xs:anySimpleType"/>
		<xs:attribute name="cpv2" type="xs:anySimpleType"/>
		<xs:attribute name="cpv3" type="xs:anySimpleType"/>
		<xs:attribute name="cpv4" type="xs:anySimpleType"/>
		<xs:attribute name="cpv5" type="xs:anySimpleType"/>
		<xs:attribute name="cpv6" type="xs:anySimpleType"/>
		<xs:attribute name="cpv7" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="DATI_GENERALI_PROGETTO" type="DATI_GENERALI_PROGETTO"/>
	<xs:complexType name="DESCRIZIONE">
		<xs:choice>
			<xs:element ref="LAVORI_PUBBLICI"/>
			<xs:element ref="CONCESSIONE_INCENTIVI_UNITA_PRODUTTIVE"/>
			<xs:element ref="REALIZZ_ACQUISTO_SERVIZI_RICERCA"/>
			<xs:element ref="REALIZZ_ACQUISTO_SERVIZI_FORMAZIONE"/>
			<xs:element ref="REALIZZ_ACQUISTO_SERVIZI_NO_FORMAZIONE_RICERCA"/>
			<xs:element ref="ACQUISTO_BENI"/>
			<xs:element ref="PARTECIP_AZIONARIE_CONFERIM_CAPITALE"/>
			<xs:element ref="CONCESSIONE_CONTRIBUTI_NO_UNITA_PRODUTTIVE"/>
			<xs:element ref="CUP_CUMULATIVO"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="DESCRIZIONE" type="DESCRIZIONE"/>
	<xs:complexType name="FINANZIAMENTO">
		<xs:sequence>
			<xs:element ref="CODICE_TIPOLOGIA_COP_FINANZ" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sponsorizzazione">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="P"/>
					<xs:enumeration value="T"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="finanza_progetto">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N"/>
					<xs:enumeration value="P"/>
					<xs:enumeration value="A"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="costo" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="finanziamento" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="FINANZIAMENTO" type="FINANZIAMENTO"/>
	<xs:complexType name="LAVORI_PUBBLICI">
		<xs:attribute name="nome_str_infrastr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="str_infrastr_unica" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="SI"/>
					<xs:enumeration value="NO"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="tipo_ind_area_rifer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="01"/>
					<xs:enumeration value="02"/>
					<xs:enumeration value="03"/>
					<xs:enumeration value="04"/>
					<xs:enumeration value="05"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ind_area_rifer" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="descrizione_intervento" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="desc_strum_progr" type="xs:anySimpleType"/>
		<xs:attribute name="altre_informazioni" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="LAVORI_PUBBLICI" type="LAVORI_PUBBLICI"/>
	<xs:complexType name="LOCALIZZAZIONE">
		<xs:attribute name="stato" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="regione" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="provincia" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="comune" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="LOCALIZZAZIONE" type="LOCALIZZAZIONE"/>
	<xs:complexType name="MASTER">
		<xs:attribute name="cup_master" type="xs:anySimpleType"/>
		<xs:attribute name="id_master" type="xs:anySimpleType"/>
		<xs:attribute name="ragioni_collegamento" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="MASTER" type="MASTER"/>
	<xs:complexType name="PARTECIP_AZIONARIE_CONFERIM_CAPITALE">
		<xs:attribute name="ragione_sociale" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="partita_iva" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="ragione_sociale_prec" type="xs:anySimpleType"/>
		<xs:attribute name="tipo_ind_area_rifer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="01"/>
					<xs:enumeration value="02"/>
					<xs:enumeration value="03"/>
					<xs:enumeration value="04"/>
					<xs:enumeration value="05"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ind_area_rifer" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="finalita" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="desc_strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="altre_informazioni" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="PARTECIP_AZIONARIE_CONFERIM_CAPITALE" type="PARTECIP_AZIONARIE_CONFERIM_CAPITALE"/>
	<xs:complexType name="REALIZZ_ACQUISTO_SERVIZI_FORMAZIONE">
		<xs:attribute name="denom_progetto" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="denom_ente_corso" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="tipo_ind_area_rifer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="01"/>
					<xs:enumeration value="02"/>
					<xs:enumeration value="03"/>
					<xs:enumeration value="04"/>
					<xs:enumeration value="05"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ind_area_rifer" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="obiett_corso" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="mod_intervento_frequenza" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="desc_strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="altre_informazioni" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="REALIZZ_ACQUISTO_SERVIZI_FORMAZIONE" type="REALIZZ_ACQUISTO_SERVIZI_FORMAZIONE"/>
	<xs:complexType name="REALIZZ_ACQUISTO_SERVIZI_NO_FORMAZIONE_RICERCA">
		<xs:attribute name="nome_str_infrastr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="tipo_ind_area_rifer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="01"/>
					<xs:enumeration value="02"/>
					<xs:enumeration value="03"/>
					<xs:enumeration value="04"/>
					<xs:enumeration value="05"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ind_area_rifer" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="servizio" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="desc_strum_progr" type="xs:anySimpleType"/>
		<xs:attribute name="altre_informazioni" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="REALIZZ_ACQUISTO_SERVIZI_NO_FORMAZIONE_RICERCA" type="REALIZZ_ACQUISTO_SERVIZI_NO_FORMAZIONE_RICERCA"/>
	<xs:complexType name="REALIZZ_ACQUISTO_SERVIZI_RICERCA">
		<xs:attribute name="denominazione_progetto" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="ente" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="tipo_ind_area_rifer">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="01"/>
					<xs:enumeration value="02"/>
					<xs:enumeration value="03"/>
					<xs:enumeration value="04"/>
					<xs:enumeration value="05"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ind_area_rifer" type="xs:anySimpleType"/>
		<xs:attribute name="descrizione_intervento" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="strum_progr" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="desc_strum_progr" type="xs:anySimpleType"/>
		<xs:attribute name="altre_informazioni" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="REALIZZ_ACQUISTO_SERVIZI_RICERCA" type="REALIZZ_ACQUISTO_SERVIZI_RICERCA"/>
</xs:schema>
